.buscador {
    background-color: #DC0A2D;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;
    /* margin-bottom: 24px; */
}
.buscador__container {
    display: flex;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.buscador__input {
    border-radius: 50px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
    width: 280px;
    height: 32px;
    border: none;
}

.buscador__imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 100%;
    height: 32px;
    width: 32px;
}

.buscador__image {
    background-color: white;
}

.modal {
    display: inline-flex;
    padding: 0px 4px 4px 4px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
}

.modal__input1 {

}

.modal__input2 {

}
