.container {
  background-color: #dc0a2d;
}

.containerPokemonList {
}

.pokemonList {
  background-color: white;
  padding: 24px 12px;
  margin: 4px;
  display: grid;
  grid-template-columns: 104px 104px 104px;
  gap: 8px;
  border-radius: 8px;
}
