@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600;700&family=Space+Grotesk:wght@500&display=swap");
.normal {
  background-color: #aaa67f;
  color: #aaa67f;
}

.fighting {
  background-color: #c12239;
  color: #c12239;
}

.flying {
  background-color: #a891ec;
  color: #a891ec;
}

.ground {
  background-color: #dec16b;
  color: #dec16b;
}
.poison {
  background-color: #a43e9e;
  color: #a43e9e;
}

.rock {
  background-color: #b69e31;
  color: #b69e31;
}

.bug {
  background-color: #a7b723;
  color: #a7b723;
}

.ghost {
  background-color: #70559b;
  color: #70559b;
}

.steel {
  background-color: #b7b9d0;
  color: #b7b9d0;
}

.fire {
  background-color: #f57d31;
  color: #f57d31;
}

.water {
  background-color: #6493eb;
  color: #6493eb;
}

.grass {
  background-color: #74cb48;
  color: #74cb48;
}

.ice {
  background-color: #9ad6df;
  color: #9ad6df;
}

.electric {
  background-color: #f9cf30;
  color: #f9cf30;
}

.psychic {
  background-color: #fb5584;
  color: #fb5584;
}

.dragon {
  background-color: #7037ff;
  color: #7037ff;
}
.dark {
  background-color: #75574c;
  color: #75574c;
}

.fairy {
  background-color: #e69eac;
  color: #e69eac;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow_left {
  display: none;
}

.arrow_right {
  display: none;
}

.header {
  display: flex;
  padding: 20px 20px 24px 20px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  max-width: 360px;
  max-height: 640px;
}

.arrow_back {
}

.title {
  text-transform: capitalize;
  font-family: Poppins;
  color: white;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  width: 230px;
  height: 32px;
}

.id {
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.image_container {
  position: relative;
  width: 200px;
  height: 140px;
}

.image {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -05px;
}

.gift {
  position: absolute;
  top: 170px;
  left: 150px;
}

.content {
  /*  */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
  border: none;
  height: 412px;
  width: 352px;
  gap: 16px;
  padding-top: 60px;
}

.typesContainer {
  display: flex;
  gap: 16px;
}

.types {
  border-radius: 15px;
  padding: 2px 8px;
}

.type_p {
  color: white;
  font-family: poppins;
  text-transform: capitalize;
}

.h2 {
  font-family: poppins;
}

.aboutContainer {
  display: flex;
}

.heightContainer {
  width: 103px;
  height: 48px;
  position: relative;
  border-right: 1px solid #1d1d1d;
}

.heightIcon {
  transform: rotate(90deg);
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.heightTitle {
  position: absolute;
  color: #666666;
  bottom: 0px;
  left: 25%;
  font-family: poppins;
}

.height {
  position: absolute;
  color: #1d1d1d;
  left: 60px;
}

.weightContainer {
  width: 103px;
  height: 48px;
  border-right: 1px solid #1d1d1d;
  position: relative;
}
.weightIcon {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: 20px;
}

.weightTitle {
  color: #666666;
  position: absolute;
  bottom: 0px;
  left: 25%;
  font-family: poppins;
}

.weight {
  color: #1d1d1d;
  position: absolute;
  top: 0px;
  left: 60px;
}

.abilitiesContainer {
  width: 103px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
}

.abilities {
  color: #1d1d1d;
  text-transform: capitalize;
  font-family: poppins;
  font-size: 12px;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 312px;
  text-align: center;
}

.description {
  color: #1d1d1d;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.h3 {
  font-family: poppins;
}

.statsContainer {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  align-self: stretch;
  height: 96px;
  width: 312px;
}

.statsTitle {
  border-right: 1px solid #e0e0e0;
  font-family: poppins;
  font-size: 12px;
  font-weight: 400;
  text-align: end;
  width: 50px;
}

.statsValue {
}

.stats {
  color: #1d1d1d;
}

.statsRange {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 4px;
}

.range {
}
